{% extends "download-log-table.html" %}

{% block form %}
<form method="GET" action="/historical-download-log">
    &nbsp;&nbsp;&nbsp;
    <label for="taskname">Name:</label>&nbsp;
    <select name="taskname" id="taskname">
        {%for name in names %}
        <option value="{{name}}" {{ "selected" if name==taskname else '' }}>{{name}}</option>
        {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp;
    <label for="compress">Compress:</label>&nbsp;
    <input type="checkbox" name="compress" id="compress" value="1" {{ "checked" if compress else '' }}>&nbsp;
    &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Send">
</form>
{% endblock %}